body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

html, body, {
	height: 100%;
}

#map {
	position: absolute;
	/*height: 100%;*/
	bottom: 181px;
	left: 0;
	right: 0;
	top: 0;
}

rect.marker {
	fill-opacity: .8;
	/*fill: red;*/
	stroke-width: 0px;
}
rect.marker:hover {
	stroke: black;
	stroke-width: 2px;
	cursor: crosshair;
}

rect.overlay{
	fill: hsl(0, 0%, 93%);
}

div.desktop {
	height: 100%;
}

div.tooltip{
	padding: 6px;
	background: white;
	visibility: hidden;
	position: absolute;
	z-index: 10;
}
p.tooltip-text{
	margin: 0px;
	padding: 0px;
}

#title{
	font-weight: bold;
}

div.menu{
	position: fixed;
	margin: 0px;
	padding: 10px;
	top: 0px;
	right: 0px;
	width: 230px;
	height: 50px;
	background: rgba(255,255,255,.8);
	z-index: 30;
}

div.slider {
	position: absolute;
	height: 180px;
	bottom: 0;
	width: 100%;
	background: hsl(0, 0%, 93%);
	border-top-style: solid;
    border-width: 1px;
}

div.semantic {
	background: rgba(0,0,0,.8);
	position: fixed;
	margin: 0px;
	padding: 10px;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: 20;
}

em{
  color: red;
  font-weight: bold;
}


.axis text {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

head.tt-dropdown-menu {
     display: none !important;
}

/*.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}*/