<html>
<head>
	<title>Impact Learning Proof of Concept</title>
	<script type="text/javascript" src="./static/lib/d3.js"></script>
	<script type="text/javascript" src="./static/lib/jquery.min.js"></script>
	<script type="text/javascript" src="./static/lib/typeahead.bundle.js"></script>
	<script type="text/javascript" src="./static/lib/leaflet.js"></script>
	<script type="text/javascript" src="./static/colors.js"></script>
	<link rel="stylesheet" href="./static/lib/leaflet.css" />

	<!-- import external stylesheet -->
	<link rel="stylesheet" href="./static/style.css" />

	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Natural Language Form with custom text input and drop-down lists" /> -->
	<!-- <meta name="keywords" content="Natural Language UI, sentence form, text input, contenteditable, html5, css3, jquery" /> -->
	<!-- <meta name="author" content="Codrops" /> -->
	<!-- <link rel="shortcut icon" href="../favicon.ico">  -->
	<link rel="stylesheet" type="text/css" href="static/semantic.css" />
	<!-- <link rel="stylesheet" type="text/css" href="static/component.css" />
	<script src="static/lib/modernizr.custom.js"></script> -->

</head>
<body>

	<!-- <div class="desktop" style="display: none"> -->
	<div class="desktop">
		<div id="map"></div>
		<div class="slider"></div>
		<div class="tooltip">
			<p class="tooltip-text" id="title"></p>
			<p class="tooltip-text" id="detail"></p>
		</div>
	</div>

	<div class="semantic" style="display: none">
		<div class="container demo-1">
			<!-- Top Navigation -->
<!-- 			<div class="codrops-top clearfix">
				<a class="codrops-icon codrops-icon-prev" href="http://tympanus.net/Development/MorphingDevices/"><span>Previous Demo</span></a>
				<span class="right"><a class="codrops-icon codrops-icon-drop" href="http://tympanus.net/codrops/?p=15139"><span>Back to the Codrops Article</span></a></span>
			</div> -->
			<header>
				<h1>Impact Learning</h1>	
			</header>
			<div class="main clearfix" id="semantic_form">
				<form id="nl-form" class="nl-form" action="http://localhost:5000" method="GET">
					<p class="form_element">I would like to understand
					<input class="content" type="text" placeholder="" autofocus="autofocus" name="content"></p>
					<p class="form_element">in
					<input class="context" type="text" placeholder="" name="context"></p>
					<p id="option3" class="form_element" style="display: none">based on
					<input class="insight" type="text" placeholder="" name="insight"></p>
					<!-- <div class="nl-submit-wrap">
						<button class="nl-submit" type="submit">Submit</button>
					</div> -->
					<!-- <div class="nl-overlay"></div> -->
				</form>
			</div>
		</div>
	</div>

<!-- 
	<script src="static/nlform.js"></script>
	<script>
		var nlform = new NLForm( document.getElementById( 'nl-form' ) );
	</script>
-->

	<!-- import external script -->
	<script type="text/javascript" src="./static/script.js"></script>

	<div class="menu">
		<!-- <p><h4>Impact Learning</h4></p> -->
		<form>
			<!-- IMPLEMENT NEW USER INTERFACE ELEMENTS HERE -->
			<!-- <p><input type="button" value="Map" onclick="toggleMap()"></p>
			<p><input type="button" value="Semantic" onclick="toggleSemantic()"></p> -->
			<p><label for="slider">Week</label>
				<input type="range" min="0" max="53" value="0" id="slider" step="1" oninput="updateMarkersBySlider(value)">
				<output for="slider" id="weekSelected">50</output></p>
			<!-- <p>Status: <em id="message"></em></p> -->
		</form>
	</div>


</body>
</html>
